.container {
    padding: 20px;
    border-radius: 1px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    position: relative;
}

.form-header {
    background-color: #f2f2f2;
    padding: 1px;
    text-align: left;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 5px 5px 0 0;
    color: white;
}

.form-group {
    margin-top: 60px;
}

.form-group input{
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #ccc;
    padding: 5px;
    width: 100%;
}


.form-group input{
    outline: none;
    border-color: #000;
}

.checkbox-label {
    display: inline-flex;
    align-items: center;
    margin-right: 20px;
}

.checkbox-group {
    border-top: 1px solid #ccc;
    padding-top: 20px;
    margin-top: 20px;
}

.checkbox-group .form-group {
    display: inline-block;
    width: 50%;
}

.form-field {
    margin-bottom: 10px;
}

.form-group select {
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 5px;
    width: 100%;
 
}

